<section class="ui green stacked segment">
    {{#each assessmentlist.measurements}}
        <table class="ui selectable inverted table">
            <thead>
            <tr>
                <th>Trend</th>
                <th>Date</th>
                <th>Height</th>
                <th>Weight Measurement</th>
                <th>Chest Measurement</th>
                <th>Abdominal Measurement</th>
                <th>Thigh Measurement</th>
                <th>Upper Arm Measurement</th>
                <th>Waist Measurement</th>
                <th>Delete Record</th>
                <th>Edit Record</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    {{#if trend}}
                        <span class="ui green left ribbon label"><i
                                class="ui large arrow alternate circle down icon"></i></span>
                    {{else}}
                        <span class="ui red left ribbon label"><i
                                class="ui large arrow alternate circle up icon"></i></span>
                    {{/if}}
                </td>
                <td>
                    {{date}}
                </td>
                <td>
                    {{height}}
                </td>
                <td>
                    {{weight}}
                </td>
                <td>
                    {{chest}}
                </td>
                <td>
                    {{abdominal}}
                </td>
                <td>
                    {{thigh}}
                </td>
                <td>
                    {{upperArm}}
                </td>
                <td>
                    {{waist}}
                </td>

                <td>
                    <a href="/assessmentlist/{{../assessmentlist.id}}/deleteassessment/{{id}}">
                        <button class="ui vertical animated fade fluid negative button" tabindex="0">

                            <div class="hidden content">Delete</div>
                            <div class="visible content">
                                <i class="ui inverted trash icon"></i>
                            </div>

                        </button>
                    </a>
                </td>
                <td>
                    <a href="/assessment/{{../assessmentlist.id}}/editassessment/{{id}}">
                        <button class="ui vertical animated fade fluid orange button" tabindex="0">

                            <div class="hidden content">Edit</div>
                            <div class="visible content">
                                <i class="ui inverted pencil icon"></i>
                            </div>

                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Comments</td>
                <td colspan="3">
                    <div class="ui left pointing red basic label">{{comment}}</div>
                </td>
                <td colspan="6"></td>
            </tr>

            </tbody>
        </table>
    {{/each}}
</section>
