<br>
<section class="ui stacked segment">
    <br>
    <div class="ui  grid">
        <div class="three wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular balance scale icon"></i>
                Member
                <hr>
                {{member.firstName}} {{member.lastName}}
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">

                {{#if member.goalReached}}
                    <i class="circular balance scale icon"></i>
                    Congratulations
                    <hr>
                    You've reached your goal:{{member.goalWeight}}kg
                {{else}}
                    <i class="circular balance scale icon"></i>
                    Goal weight(kgs): {{member.goalWeight}}kg
                    <hr>
                    Remaining(kgs): {{member.kilosFromGoalWeight}}kg
                {{/if}}



            </h2>
        </div>
    </div>
    <div class="three wide column">
    </div>
    <div class="ui  grid">

        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.weightClassGoalReached}}
                    <i class="circular green heart icon"></i>
                {{else}}
                    <i class="circular red heart icon"></i>
                {{/if}}
                Weight Classification
                <hr>

                <p>
                    {{isideal}}
                </p>
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.bmiGoalReached}}
                    <i class="circular green heartbeat icon"></i>
                {{else}}
                    <i class="circular red heartbeat icon"></i>
                {{/if}}
                BMI
                <hr>
                <p>
                    {{bmi}}
                </p>
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.bmiCatGoalReached}}
                    <i class="circular green chart pie icon"></i>
                {{else}}
                    <i class="circular red chart pie icon"></i>
                {{/if}}
                BMI Category
                <hr>
                <p>
                    {{bmicat}}
                </p>
            </h2>
        </div>

    </div>
    <br>
</section>
<br>