<br>
<section class="ui stacked segment">
    <br>
    <div class="ui  grid">
        <div class="three wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular balance scale icon"></i>
                Member
                <hr>
                {{member.firstName}} {{member.lastName}}
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.goalDatePassed}}
                    <i class="circular red flag checkered icon"></i>
                    Goal {{member.goalWeight}}kg not reached
                    <hr>
                    Please set new goal
                {{else}}
                    {{#if member.goalReached}}
                        <i class="circular green flag checkered icon"></i>
                        Congratulations
                        <hr>
                        You've reached your goal:{{member.goalWeight}}kg
                    {{else}}
                        <i class="circular orange flag checkered icon"></i>
                        Kgs to goal: {{member.kilosFromGoalWeight}}
                        <hr>
                        Days to goal: {{daysFromGoal}}
                    {{/if}}
                {{/if}}



            </h2>
        </div>
    </div>
    <div class="three wide column">
    </div>
    <div class="ui  grid">

        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.weightClassGoalReached}}
                    <i class="circular green heart icon"></i>
                {{else}}
                    <i class="circular red heart icon"></i>
                {{/if}}
                Weight Classification
                <hr>

                <p>
                    {{isideal}}
                </p>
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.bmiGoalReached}}
                    <i class="circular green heartbeat icon"></i>
                {{else}}
                    <i class="circular red heartbeat icon"></i>
                {{/if}}
                BMI
                <hr>
                <p>
                    {{bmi}}
                </p>
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                {{#if member.bmiCatGoalReached}}
                    <i class="circular green chart pie icon"></i>
                {{else}}
                    <i class="circular red chart pie icon"></i>
                {{/if}}
                BMI Category
                <hr>
                <p>
                    {{bmicat}}
                </p>
            </h2>
        </div>

    </div>
    <br>
</section>
<br>