<br>
<section class="ui stacked segment">
    <br>
    <div class="ui  grid">
        <div class="three wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular balance scale icon"></i>
                Member
                <hr>
                {{user.firstName}} {{user.lastName}}
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular balance scale icon"></i>
                Goal weight: 90kg
                <hr>
                Current weight: {{user.currentWeight}}kg
            </h2>
        </div>
    </div>
    <div class="three wide column">
    </div>
    <div class="ui  grid">

        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular heart icon"></i>
                Weight Classification
                <hr>
                <p>
                    {{isideal}}
                </p>
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular heartbeat icon"></i>
                BMI
                <hr>
                <p>
                    {{bmi}}
                </p>
            </h2>
        </div>
        <div class="two wide column">
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular chart pie icon"></i>
                BMI Category
                <hr>
                <p>
                    {{bmicat}}
                </p>
            </h2>
        </div>

    </div>
    <br>
</section>
<br>