<section class="ui green stacked segment">
    {{#each assessmentlist.measurements}}
        <table class="ui center aligned selectable inverted fluid table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Height</th>
                <th>Weight Measurement</th>
                <th>Chest Measurement</th>
                <th>Abdominal Measurement</th>
                <th>Thigh Measurement</th>
                <th>Upper Arm Measurement</th>
                <th>Waist Measurement</th>
                <th>Delete Record</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    {{date}}
                </td>
                <td>
                    {{height}}
                </td>
                <td>
                    {{weight}}
                </td>
                <td>
                    {{chest}}
                </td>
                <td>
                    {{abdominal}}
                </td>
                <td>
                    {{thigh}}
                </td>
                <td>
                    {{upperArm}}
                </td>
                <td>
                    {{waist}}
                </td>
                <td>
                    <button class="ui vertical animated fade fluid negative button" tabindex="0">
                        <a href="/trainerassessmentlist/{{../assessmentlist.id}}/deleteassessment/{{id}}">
                            <div class="hidden content">Delete</div>
                            <div class="visible content">
                                <i class="ui inverted trash icon"></i>
                            </div>
                        </a>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Trainer <i class="ui user outline icon"></i>
                </td>
                <td>
                    <div class="ui left pointing green basic label">{{comment}}</div>
                </td>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <form class="ui fluid form"
                          action="/trainerassessmentlist/{{../assessmentlist.id}}/updatecomment/{{id}}" method="POST">
                        <div class="field">
                            <input placeholder="Update Comment" type="text" name="comment" required>
                        </div>
                </td>
                <td>
                    <button class="ui vertical animated fluid blue submit button" tabindex="0">
                        <div class="hidden content"><span class="ui inverted text">Edit Comment</span></div>
                        <div class="visible content">
                            <i class="ui check circle icon"></i>
                        </div>
                    </button>
                    </form>
                </td>
                <td colspan="7"></td>
            </tr>

            </tbody>
        </table>
    {{/each}}
</section>
