<br>
<section class="ui stacked segment">
    <br>
    <div class="ui  grid">
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular balance scale icon"></i>
                Trainer
                <hr>
                {{user.firstName}} {{user.lastName}}
                <br>
                {{user.email}}
            </h2>
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular user green icon"></i>
                Number of Trainers
                <hr>
                <p>
                    {{trainerCount}}
                </p>
            </h2>
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular blue user icon"></i>
                Number of Members
                <hr>
                <p>
                    {{membercount}}
                </p>
            </h2>
        </div>
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular line chart icon"></i>
                Average Member BMI
                <hr>
                <p>
                    {{averageBmi}}
                </p>
            </h2>
        </div>
    </div>
    <br>
</section>
<br>