<section class="ui green stacked segment">
    <div class="row">
        <div class="sixteen wide column">
            <h2 class="ui center aligned header">

                {{trainerhdr}}
            </h2>

            <table class="ui selectable inverted celled table">
                <thead>
                <tr>
                    <th>Trainer Name</th>
                    <th>Trainer ID/Email</th>
                    <th>Delete Trainer</th>
                </tr>
                </thead>
                <tbody>

                {{#each trainers}}
                    <tr>
                        <td><i class="orange user icon"></i> {{firstName}} {{lastName}}   </td>
                        <td><i class="orange envelope open outline icon"></i> {{email}}   </td>
                        <td>
                            <form class="ui form" action="/trainerdashboard/deletemember/{{id}}" method=GET">
                                <button class="ui vertical animated fluid red button" tabindex="0">
                                    <div class="visible content">Delete Trainer</div>
                                    <div class="hidden content">
                                        <i class="ui user minus icon"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <h2 class="ui center aligned header">
        {{memberhdr}}
    </h2>
    <div class="sixteen wide column">

        <table class="ui selectable inverted celled table">
            <thead>
            <tr>
                <th>Member Name</th>
                <th>ID/Email</th>
                <th>Current Weight(kgs)</th>
                <th>Goal Weight(kgs)</th>
                <th>Remaining (kgs)</th>
                <th>View Member</th>
                <th>Delete Member</th>
            </tr>
            </thead>
            <tbody>

            {{#each members}}
                <tr>
                    <td><i class="orange user icon"></i> {{firstName}} {{lastName}}   </td>
                    <td><i class="orange envelope open outline icon"></i> {{email}}   </td>
                    <td>{{currentWeight}}</td>
                    <td> {{goalWeight}}</td>
                    <td>{{kilosFromGoalWeight}}</td>
                    <td>
                        <a href="/trainerview/{{id}}/">
                            <button class="ui vertical blue animated fluid button" tabindex="0">

                                <div class="visible content">View Member</div>
                                <div class="hidden content">
                                    <i class="ui user icon"></i>
                                </div>

                            </button>
                        </a>
                    </td>
                    <td>
                        <form class="ui form" action="/trainerdashboard/deletemember/{{id}}" method=GET">
                            <button class="ui vertical animated fluid red button" tabindex="0">
                                <div class="visible content">Delete Member</div>
                                <div class="hidden content">
                                    <i class="ui user minus icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>

            {{/each}}
            </tbody>
        </table>
    </div>


</section>