{{> menu}}

<form class="ui inverted stacked segment form"
      action="/assessment/{{assessmentlist.id}}/updateassessment/{{measurement.id}}" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Weight</label>
            <input type="number" name="weight" min="1" max="250" value="{{measurement.weight}}" required>
        </div>
        <div class="field">
            <label>Chest</label>
            <input type="number" name="chest" min="1" max="250" value="{{measurement.chest}}" required>
        </div>
        <div class="field">
            <label>Abdominal</label>
            <input type="number" name="abdominal" min="1" max="250" value="{{measurement.abdominal}}" required>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>Thigh</label>
            <input type="number" name="thigh" min="1" max="250" value="{{measurement.thigh}}" required>
        </div>
        <div class="field">
            <label>Upper Arm</label>
            <input type="number" name="upperArm" min="1" max="250" value="{{measurement.upperArm}}" required>
        </div>
        <div class="field">
            <label>Waist</label>
            <input type="number" name="waist" min="1" max="250" value="{{measurement.waist}}" required>
        </div>
    </div>
    <button class="ui vertical animated fade fluid green labeled icon submit button" tabindex="0">
        <div class="visible content"><i class="icon edit"></i> Edit Assessment</div>
        <div class="hidden content">
            <i class="ui check circle icon"></i>
        </div>
    </button>
</form>
