{{> menu id="dashboard"}}

<section class="ui segment">
    {{> mainpanel}}
    <hr>
    <section class="ui inverted stacked segment">
        <h2 class="ui center aligned header">
            Goal
        </h2>

        <table class="ui selectable inverted celled table">
            <div class="ui inverted form">
                <thead>
                <tr>
                    <th>Current Weight</th>
                    <th>Goal Weight (kgs)</th>

                    <th>Remaining</th>
                    {{#if member.goalDatePassed}}
                        <th>Days past goal</th>
                    {{else}}
                        <th>Days from goal</th>
                    {{/if}}
                    <th>Goal Date</th>
                    <th>Update Goal Weight (kgs)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="orange balance scale icon"></i>  {{member.currentWeight}} (kgs)</td>
                    <td><i class="orange balance scale icon"></i>  {{member.goalWeight}} (kgs)</td>
                    <td><i class="orange flag checkered icon"></i>  {{member.kilosFromGoalWeight}} (kgs)</td>
                    <td><i class="orange flag checkered icon"></i>  {{daysFromGoal}}</td>
                    <td><i class="orange flag checkered icon"></i>  {{member.goalDate}}</td>
                    <td>
                        <form class="ui fluid inverted form" action="/dashboard/{{member.id}}/updateGoal" method="POST">
                            <div class="two fields">
                                <div class="field">
                                    <input value="{{member.goalWeight}}" type="number" min="1" max="250" name="goalWeight" required>
                                </div>
                                <div class="field">
                                    <button class="ui vertical right floated animated blue submit button" tabindex="0">
                                        <div class="hidden content"><i class="ui check circle icon"></i></div>
                                        <div class="visible content">
                                            Update Goal
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="ui checked checkbox">
                                <input type="checkbox" name="newGoal">
                                <label>New Goal (Resets time 100 days)</label>
                            </div>

            </form>
            </td>


            </tr>


            </tbody>
            </div>
        </table>
    </section>
    <hr>
{{> listmonths}}