{{> menu}}
<div class="ui grid">

    <div class="four wide column">
        <!--Spacing -->
    </div>
    <div class="eight wide column">
        <form class="ui stacked inverted segment form" action="/editsettings/updateuser" method="POST">
            <h3 class="ui header">{{title}}</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name*</label>
                    <input value="{{user.firstName}}" type="text" name="firstName" required>
                </div>
                <div class="field">
                    <label>Last Name*</label>
                    <input value="{{user.lastName}}" type="text" name="lastName" required>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Gender</label>
                    <input value="{{user.gender}}" type="text" name="gender" disabled>
                </div>
                <div class="field">
                    <label>Date of birth</label>
                    <input value="{{user.dob}}" type="text" name="dob" disabled>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Height(mtrs)*</label>
                    <input value="{{user.height}}" type="number" min="1" max="3" name="height" disabled>
                </div>
                <div class="field">
                    <label>Weight(kgs)*</label>
                    <input value="{{user.currentWeight}}" type="number" min="10" max="250"  name="currentWeight" required>
                </div>
                <div class="field">
                    <label>Goal Weight(kgs)*</label>
                    <input value="{{user.goalWeight}}" type="number" min="10" max="250"  name="goalWeight" required>
                </div>

            </div>
            <div class="field">
                <label>Address</label>
                <input value="{{user.address}}" type="text" name="address">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Email*</label>
                    <input value="{{user.email}}" type="text" name="email" disabled>
                </div>
                <div class="field">
                    <label>Password*</label>
                    <input value="{{user.password}}" type="password" name="password" required>
                </div>
            </div>
            <input type="hidden" name="trainer" value="0">
            <button class="ui vertical animated fade fluid blue button" tabindex="0">
                <div class="hidden content"><i class="ui inverted pencil icon"></i></div>
                <div class="visible content">
                    Update details
                </div>
                </a>
            </button>
        </form>
    </div>
    <div class="four wide column">
        <!--Spacing -->
    </div>

</div>
