{{> trainermenu}}

<section class="ui center aligned middle aligned segment">
    <h2 class="ui header">
        {{member.firstName}} {{member.lastName}}
    </h2>
    <section class="ui green stacked segment">
        <table class="ui selectable inverted celled table">
            <div class="ui inverted form">
                <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Current Weight</th>
                    <th>Goal Weight</th>
                    <th>Update Goal Weight</th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td><i class="orange user icon"></i> {{member.firstName}}   </td>
                    <td><i class="orange envelope open outline icon"></i>  {{member.currentWeight}}  </td>
                    <td><i class="orange envelope open outline icon"></i>  {{member.goalWeight}}  </td>
                    <td>
                        <form class="ui fluid form" action="/trainerview/{{member.id}}/updategoal" method="POST">
                            <div class="two fields">
                                <div class="field">
                                    <input value="{{member.goalWeight}}" type="text" name="goalWeight" required>
                                </div>
                                <div class="field">
                                    <button class="ui vertical right floated animated blue submit button" tabindex="0">
                                        <div class="hidden content"><i class="ui check circle icon"></i></div>
                                        <div class="visible content">
                                            Update Goal Weight
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>


                </tr>


                </tbody>
            </div>
        </table>
    </section>


</section>


<section class="ui inverted stacked segment">

    <h2 class="ui center aligned header">
        Monthly Overview
    </h2>
    {{#each months}}

        <table class="ui seven column  selectable inverted celled table">
            <thead>
            <tr>
                <th>Trend</th>
                <th>Month</th>
                <th>Assessments</th>
                <th>Starting Weight (kgs)</th>
                <th>Latest Weight (kgs)</th>
                <th>View Assessments</th>
                <th>Delete Assessments</th>

            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    {{#if trend}}
                        <span class="ui green left ribbon label"><i
                                class="ui large arrow alternate circle down icon"></i></span>
                    {{else}}
                        <span class="ui red left ribbon label"><i
                                class="ui large arrow alternate circle up icon"></i></span>
                    {{/if}}
                </td>
                <td>
                    {{month}}
                </td>
                <td>
                    {{assessmentcount}}
                </td>
                <td>
                    {{startingWeight}}
                </td>
                <td>
                    {{latestWeight}}
                </td>


                <td>

                    <a href="/trainerassessmentlist/{{id}}/member/{{userid}}">
                        <button class="ui vertical animated fade  blue labeled icon button" tabindex="0">
                            <div class="visible content">View assessments</div>
                            <div class="hidden content">
                                <i class="ui check circle icon"></i>
                            </div>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/trainerassessmentlist/{{id}}/deletemonth/{{userid}}">

                        <button class="ui vertical animated fade negative button" tabindex="0">
                            <div class="hidden content">Delete</div>
                            <div class="visible content">
                                <i class="ui inverted trash icon"></i>
                            </div>

                        </button>
                    </a>

                </td>

            </tr>

            </tbody>
        </table>
    {{/each}}
</section>
